.alert-error, .errorlist {
	color: cimson;
}
.alert-success {
	color: green;
}
.quote {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #333333;
}
.quote span.text {
  display: block;
  margin-bottom: 5px;
  font-size: large;
  font-style: italic;
}
.quote small.author {
  font-weight: bold;
  color: #3677E8;
}
a:hover, a:focus {
  color: #134fb8;
  text-decoration: underline;
}
.quote .tags {
  margin-top: 10px;
}
.tag {
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
  font-size: small;
  background-color: #7CA3E6;
}
.pager {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.pager {
  list-style: none;
  text-align: center;
}
.pager li > a, .pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
}
pager li {
  display: inline
}
.pager {
	padding-left: 0;
	margin: 22px 0;
	list-style: none;
	text-align: center;
}
.pager .previous > a, .pager .previous > span {
  float: left;
}
.pager .next > a, .pager .next > span {
	float: right;
}
.disabled {
   color: #333333;
   visibility:hidden;
   cursor:not-allowed;

}
.inline-form {
    display: inline-block;
    margin-right: 5px;
}

.author-details {
	width: 80%;
}
.author-description {
	text-align: justify;
	margin-bottom: 20px;
}
p {
    margin: 0 0 11px;
}