{% extends "base.html" %}

{% block content %}

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <span {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>
            {{ message }}
        </span>
        {% endfor %}
    </div>
    {% endif %}
<form method="POST" action="{% url 'quotesapp:add_tag' %}">
    {% csrf_token %}
    <div class="mb-3 pt-4">
      <label class="form-label">Input tag: </label>
      {{form.name}}
    </div>
  <span>{{form.errors.name}}</span>
    <div class="grid">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>
{% endblock %}